@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EasyCab<br />
    Diego Alexis Chavez Montoya<br />
    <abbr title="Phone">Phone:</abbr>
    72596603
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:diegoares02@gmail.com">diegoares02@mail.com</a><br />
</address>