@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GESTION DE RADIOTAXIS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GESTIÓN</h2>
        <p>
            Información actualizada y completa
        </p>
        <div>
            <img src="~/Images/Logo.png" alt="Alternate Text" width="100" height="100"/>
        </div>
    </div>
    <div class="col-md-4">
        <h2>SEGURIDAD</h2>
        <p>Permite almacenar informacion de los servicios</p>
        <div>
            <img src="~/Images/TaxiSeguro.jpg" alt="Alternate Text" width="100" height="100" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>UBICACIÓN</h2>
        <p>Aplicación GPS para conocer la ubicacion del conductor</p>
        <div>
            <img src="~/Images/GPS.jpg" alt="Alternate Text" width="100" height="100"/>
        </div>
    </div>
</div>